extends layout

block content
  <div style="margin:2cm; border-top: solid green;">
    .w3-container
      h1 Listagem dos compositores
      table.w3-table-all
        tr
          th Nome
        each comp in compositores
          tr
            td= comp
  </div>