extends layout
block content
        <div style="margin:1cm;">
            .w3-container
                header.w3-container.w3-green
                    h3 Filme
                .w3-container
                    table.w3-table-all
                        tr
                            th Título
                            th Ano
                            th Categorias
                            th Elenco
                        tr
                            td= al.title
                            td= al.year
                            td= al.cast
                            td= al.genres
        </div>