extends layout

block content
  <div style="margin:2cm; border-top: solid green;">
    .w3-container
      h1 Gestão de filmes
      ul.w3-ul
        li
          a.w3-button.w3-green(href="http://localhost:3004/filmes") Listar filmes
        </li>
        <li>
          a.w3-button.w3-green(href="http://localhost:3004/filmes/inserir") Inserir filme
        </li>
  </div>